/* -----------------------------
   GLOBAL
----------------------------- */
body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;

  background: #2f4f2f;
}

/* -----------------------------
   PAGE
----------------------------- */
#page {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------------------
   GAME WINDOW
----------------------------- */
#gameBox {

  width: min(95vw, 1400px);

  aspect-ratio: 1520 / 960;

  position: relative;

  background: black;

  border: 3px solid #1e2f1e;

  overflow: hidden;

  box-shadow:
    0 0 20px rgba(0,0,0,0.6);
}

/* -----------------------------
   CANVAS
----------------------------- */
#game {

  width: 100%;
  height: 100%;

  display: block;
}

/* -----------------------------
   FULLSCREEN
----------------------------- */
.fullscreen #gameBox {

  width: 100vw;
  height: 100vh;

  aspect-ratio: auto;

  border: none;
  box-shadow: none;
}